p{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;

}

.card{
    
    
    max-width: 250px;
    max-height: auto;
    border: 1px solid;
    border-radius: 2%;
    text-align: center;
    padding: 20px;
    margin: 10px;
    /* box-shadow: 5px, 5px, 5px, hsla(0, 51%, 26%, 0.1); */
    box-shadow: 2px 3px 5px hsla(0, 1%, 69%, 0.632);

    display: inline-block;

}
.card .card-image{

    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.card .card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    font-weight: 700;

}
.card .card-desc{
    
}
